<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>VolumeBack</string>
	<key>CFBundleDisplayName</key>
	<string>VolumeBack</string>
	<key>CFBundleExecutable</key>
	<string>VolumeBack</string>
	<key>CFBundleIdentifier</key>
	<string>dev.volumeback.app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>VolumeBack captures system audio in order to control the volume of devices that have no volume control of their own (e.g. HDMI/DisplayPort monitors).</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
